.comment__item {
  position: relative;

  display: block;
  width: 100%;
  max-width: 65rem;

  margin: 0 auto;
  padding: 4rem;

  background-color: #e3e367;

  @media (max-width: 767.98px) {
    padding: 2.8rem;
  }

  &:not(:last-child) {
    margin-bottom: 5.2rem;
  }
}

.comment__delete {
  position: absolute;
  top: -1.6rem;
  right: -1.6rem;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 3.2rem;
  height: 3.2rem;

  background-color: orange;
  border-radius: 50%;

  cursor: pointer;

  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.85;
  }
}
