.comment__comments {
  position: relative;
  flex: 0 0 70%;

  padding: 4rem 5rem 0 5rem;

  overflow-y: auto;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  @media (max-width: 767.98px) {
    padding: 4rem;
  }
}